<header class="header">
    <nav class="navbar navbar-expand-lg container">
        <div class="d-flex align-items-center">
            <a class="navbar-brand pharaoh-logo-text" href="index.html">Pharoh Tour</a>
            <button class="custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="hamburger"><span></span><span></span><span></span></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="index.html" data-translate="home">الرئيسية</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#destinations" data-translate="destinations">الوجهات السياحية</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#virtual-tour" data-translate="virtualTour">جولة 360 درجة</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#packages" data-translate="packages">الباقات السياحية</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#about" data-translate="about">عن الشركة</a></li>
                <li class="nav-item"><a class="nav-link" href="faq.html" data-translate="faq">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html" data-translate="contact">اتصل بنا</a></li>
            </ul>
            <div class="d-flex align-items-center navbar-right">
                <button class="lang-switch btn me-2" onclick="toggleLanguage()"><span class="lang-text">English</span></button>
                <div class="nav-left-social">
                    <a href="#" class="social-icon" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>
